/build
/devel
/.vscode
.catkin_workspace
/map_databases

#PKGs to ignore
/src/pgm_map_creator
/src/slam_gmapping
/src/turtlebot
/src/turtlebot_interactions
/src/turtlebot_simulator
/src/teleop_twist_keyboard
/src/openslam_gmapping
/src/joystick_drivers